#!/usr/bin/env python3
PACKAGE = "dyn_rec"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

modes = gen.enum([gen.const("forward", int_t, 0, "Forward"),
                gen.const("bathy", int_t, 1, "Bathy"),
                gen.const("bathy_amp", int_t, 2, "Bathy_amp"),
                gen.const("bf_pass_through", int_t, 4, "BF_pass_through"),
                gen.const("edge_enhance", int_t, 5, "Edge_enhance"),
                gen.const("super_res", int_t, 6, "Super_res"),
                gen.const("multi_detect", int_t, 7, "Multi_detect"),],
                "Set the mode of the sonar")

sidescan_modes = gen.enum([gen.const("snippets", int_t, 0, "Snippets"),
                gen.const("sidescan", int_t, 1, "Sidescan"),
                gen.const("croped_sidescan", int_t, 9, "Croped_sidescan"),],
                "Set the mode of the sidescan")
flip_modes = gen.enum([gen.const("fls", int_t, 0, "FLS"),
                gen.const("bathy", int_t, 1, "Bathy"),],
                "Set the flip mode of the sonar")
set_gate_modes = gen.enum([gen.const("gate_by_range", int_t, 0, "Gate_by_range"),
                gen.const("gate_by_depth", int_t, 1, "Gate_by_depth"),
                gen.const("gate_by_range_and_depth", int_t, 2, "Gate_by_range_and_depth")],
                "Set the gate mode of the sonar")
trigger_modes = gen.enum([gen.const("fixed_rate", int_t, 0, "Fixed_rate"),
                gen.const("fixed_rate_time_sync", int_t, 1, "Fixed_rate_time_sync"),
                gen.const("full_range", int_t, 2, "Full_range"),
                gen.const("adaptive", int_t, 3, "Adaptive"),
                gen.const("Ext_trig_rising", int_t, 4, "Ext_trig_rising"),
                gen.const("Ext_trig_falling", int_t, 5, "Ext_trig_falling")],
                "Set the trigger mode of the sonar")
time_sources = gen.enum([gen.const("IRIG_B", int_t, 0, "IRIG-B"),
                gen.const("fixed_rate_time_sync", int_t, 1, "Fixed_rate_time_sync"),
                gen.const("NTP", int_t, 2, "NTP"),
                gen.const("IRIG_B_inverted", int_t, 3, "IRIG-B_inverted"),
                gen.const("NTP_PPS", int_t, 4, "NTP+PPS"),
                gen.const("NTP_PPS_neg", int_t, 5, "NTP+PPS_neg"),
                gen.const("ZDA_PPS", int_t, 6, "ZDA+PPS"),
                gen.const("ZDA_PPS_neg", int_t, 7, "ZDA+PPS_neg"),
                gen.const("ZDA", int_t, 8, "ZDA"),
                gen.const("free_run", int_t, 9, "Free_run"),],
                "Set the time sources")
autogate_presets = gen.enum([gen.const("off", int_t, 0, "Off"),
                gen.const("wide", int_t, 1, "Wide"),
                gen.const("normal", int_t, 2, "Normal"),
                gen.const("narrow", int_t, 3, "Narrow")],
                "Set the autogate presets")
power_modes = gen.enum([gen.const("off", int_t, 0, "Off"),
                gen.const("on", int_t, 1, "On")],
                "Set the power mode")

gen.add("set_mode",int_t,0,"Set the mode of the sonar",0, 1, 7, edit_method=modes)
gen.add("set_sidescan_mode", int_t, 0, "Set the mode of the sidescan", 0, 1, 9, edit_method=sidescan_modes)
gen.add("set_flip", int_t, 0, "Set the flip mode of the sonar", 0, 1, 1, edit_method=flip_modes)
gen.add("set_gate_mode", int_t, 0, "Set the gate mode of the sonar", 0, 1, 2, edit_method=set_gate_modes)
gen.add("set_gate_tilt", double_t, 0, "Set the gate tilt of the sonar", 0, -45, 45)
gen.add("set_range_min", double_t, 0, "Set the range min of the sonar", 0, 0, 600)
gen.add("set_range_max", double_t, 0, "Set the range max of the sonar", 50, 0, 600)
gen.add("set_range_R0", double_t, 0, "Set the range min of the sonar when Gate_mode is 2", 0, 0, 600)
gen.add("set_range_R1", double_t, 0, "Set the range max of the sonar when Gate_mode is 2", 50, 0, 600)
gen.add("set_depth_D0", double_t, 0, "Set the depth min of the sonar when Gate_mode is 2", 0, 0, 600)
gen.add("set_depth_D1", double_t, 0, "Set the depth max of the sonar when Gate_mode is 2", 50, 0, 600)
gen.add("set_direction", double_t, 0, "Set the center direction of the sonar", 0, -90, 90)
gen.add("set_opening_angle", double_t, 0, "Set the opening angle of the sonar", 140, 0, 360)
gen.add("set_vertical_resolution", int_t, 0, "Set the vertical resolution of the sonar", 256, 64, 2048)
gen.add("set_horizontal_resolution", int_t, 0, "Set the horizontal resolution of the sonar", 128, 64, 512)
gen.add("set_tx_direction", double_t, 0, "Sets center direction in degrees for STX", 0, -90, 90)
gen.add("set_tx_opening_angle", double_t, 0, "Set opening angle for STX scan", 0, 0, 90)
gen.add("set_tx_beam_number", int_t, 0, "Set number of beams for STX scan", 1, 0, 64)
gen.add("set_mf_decimation", int_t, 0, "Set decimation factor before Match filter. Enables longer pulses by reducing sample rate.", 1, 1, 16)
gen.add("set_tx_Frequency", double_t, 0, "Set the tx-pulse frequency of the sonar in  kHz", 400, 80, 10000)
gen.add("set_tx_Bandwidth", double_t, 0, "Set the tx-pulse bandwidth of the sonar in kHz", 80, 0, 80)
gen.add("set_tx_amp", int_t, 0, "Set the tx-pulse amplitude of the sonar in dB", 15, 0, 15)
gen.add("set_tx_pulse_length", double_t, 0, "Set the tx-pulse length of the sonar in us", 500, 10, 819)
gen.add("set_gain", double_t, 0, "Sets fixed VGA gain in dB. Vga ramp must be set to 0 for this to work.", 0, 0, 100)
gen.add("set_vga", double_t, 0, "Sets VGA ramp in dB / 100m", 50, 0, 100)
gen.add("set_rate", int_t, 0, "Set the max-rate of the sonar in Hz. Set to -1 to calculate automatically", 1, -1, 60)
gen.add("set_tp_rate", int_t, 0, "Sets WC output rate", 5, -1, 60)
gen.add("set_snippet_rate", int_t, 0, "Sets snippet output rate", 18, -1, 60)
gen.add("set_trig_mode", int_t, 0, "Set the trigger mode of the sonar", 0, 0, 5, edit_method=trigger_modes)
gen.add("set_time_source", int_t, 0, "Set the time source of the sonar", 0, 0, 9, edit_method=time_sources)
gen.add("set_autogate_preset", int_t, 0, "Set the autogate preset of the sonar", 0, 0, 3, edit_method=autogate_presets)
gen.add("set_power_mode", int_t, 0, "Set the power mode of the sonar", 0, 0, 1, edit_method=power_modes)

exit(gen.generate(PACKAGE, "dyn_rec_server", "fls_params"))