<launch>
    <!--Launch file for the node. Runs the main node + rqt reconfig server.-->
  
    <arg name="ip" default="192.168.1.53" />

    <arg name="cfg_dir" default="$(find norbit_wbms_driver)/cfg/" />
    <arg name="wbms_cfg1" default="wbms_default.ini" />
    <arg name="wbms_cfg2" default="wbms_short_range.ini" />
    <arg name="wbms_cfg3" default="wbms_medium_range.ini" />
    <arg name="wbms_cfg4" default="wbms_long_range.ini" />

    <node pkg="norbit_wbms_driver" type="wbms_config_server.py" name="config_server" output="screen">
      <param name="port" value="2209" type="string" />
      <param name="ip" value="$(arg ip)" />
      <param name="cfg_dir" value="$(arg cfg_dir)" />
      <param name="cfg1" value="$(arg wbms_cfg1)" />
      <param name="cfg2" value="$(arg wbms_cfg2)" />
      <param name="cfg3" value="$(arg wbms_cfg3)" />
      <param name="cfg4" value="$(arg wbms_cfg4)" />
    </node>

	<!--RQT Dynamic Reconfigure GUI-->
  <!--<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="dynamic_reconfigure_gui" output="screen"/>-->

</launch>